<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" android:sharedUserId="android.uid.system" package="com.mega.app.engineeringmode" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.MegaEngineeringMode" android:usesNonSdkApi="true">
        <activity android:name="com.mega.app.engineeringmode.MegaEngineerModeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mega.app.engineeringmode.SecondActivity"/>
        <activity android:name="com.mega.app.engineeringmode.log.LogActivity"/>
        <activity android:name="com.mega.app.engineeringmode.offline.OfflineActivity"/>
        <activity android:name="com.mega.app.engineeringmode.info.InfoActivity"/>
        <activity android:name="com.mega.app.engineeringmode.cert.CertificateActivity"/>
        <activity android:name="com.mega.app.engineeringmode.advanced.AdvancedOptionsActivity"/>
        <activity android:name="com.mega.app.engineeringmode.debug.DebugActivity"/>
        <activity android:name="com.mega.app.engineeringmode.lcd.LcdInfoActivity"/>
        <service android:exported="true" android:name="com.mega.app.engineeringmode.EngineerModeCommandService">
            <intent-filter>
                <action android:name="com.mega.satellite.RECEIVE_PUSH_EVENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>
</manifest>